@model CategoryDTO

@{
    ViewData["Title"] = "CategoryEdit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section pageHeader{
    <div class="note note-info">
        <p> Sistem kategori güncelleme sayfası </p>
    </div>
}

<div class="row">
    <div class="col-md-6">
        <div class="portlet box blue ">
            <div class="portlet-title">
                <div class="caption">
                    <i class="fa fa-gift"></i>Kategori Güncelle
                </div>
                <div class="tools">
                    <a href="" class="collapse"> </a>
                    <a href="#portlet-config" data-toggle="modal" class="config"> </a>
                    <a href="" class="reload"> </a>
                    <a href="" class="remove"> </a>
                </div>
            </div>
            <div class="portlet-body form">

                <form asp-action="CategoryEdit">
                    <div class="form-body">
                        <div class="form-group">
                            <div class="input-group">
                                <input type="hidden" asp-for="Id" class="form-control" />
                                <span asp-validation-for="Id" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label asp-for="Name" class="control-label"></label>
                            <div class="input-group">
                                <span class="input-group-addon">
                                    <i class="fa fa-user"></i>
                                </span>
                                <input class="form-control" placeholder="Name" asp-for="Name">
                                <span asp-validation-for="Name" id="Name" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                    <div class="form-actions">
                        <button type="submit"  class="btn blue">Save</button>
                        <button type="button" class="btn red">Cancel</button>
                    </div>
                </form>

            </div>
        </div>

    </div>
    <div class="col-md-6"></div>

</div>



